Repository ensdomains/blog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lucemans, @svemat01, @gskril, @Esk3nder

.github/CODEOWNERS:

# CI/CD & Pipelines
*.yaml @lucemans
*.yml @lucemans
/.github/* @lucemans
README.md @lucemans

## Frontend
/blog/* @svemat01 @lucemans

## Blog Content
/content/* @gskril @Esk3nder

Add PayPal/Venmo announcement
  content/026_paypal_venmo/1.jpg
  content/026_paypal_venmo/cover.png
  content/026_paypal_venmo/meta.json
  content/026_paypal_venmo/readme.mdx
Owners: none

Fix sanity
  content/026_paypal_venmo/readme.mdx
Owners: none

Add PayPal/Venmo announcement (#87)
  content/026_paypal_venmo/1.jpg
  content/026_paypal_venmo/cover.png
  content/026_paypal_venmo/meta.json
  content/026_paypal_venmo/readme.mdx
Owners: none

Add cb.id article by estmcmxci.eth
  content/027_cbid/1.jpg
  content/027_cbid/meta.json
  content/027_cbid/readme.mdx
Owners: none

Fix sanity
  content/027_cbid/readme.mdx
Owners: none

Fix sanity
  content/027_cbid/meta.json
Owners: none

Add cover
  content/027_cbid/cover.png
Owners: none

Add cb.id article by estmcmxci.eth (#88)
  content/027_cbid/1.jpg
  content/027_cbid/cover.png
  content/027_cbid/meta.json
  content/027_cbid/readme.mdx
Owners: none

Fix image in cbid article
  content/027_cbid/readme.mdx
Owners: none

Update cover of cbid article
  content/027_cbid/cover.png
Owners: none

Add August web update
  content/028_august_web_update/1.jpg
  content/028_august_web_update/2.jpg
  content/028_august_web_update/3.jpg
  content/028_august_web_update/4.jpg
  content/028_august_web_update/5.jpg
  content/028_august_web_update/6.gif
  content/028_august_web_update/7.jpg
  content/028_august_web_update/cover.png
  content/028_august_web_update/meta.json
  content/028_august_web_update/readme.mdx
Owners: none

Update cover
  content/028_august_web_update/cover.png
Owners: none

Add August web update (#89)
  content/028_august_web_update/1.jpg
  content/028_august_web_update/2.jpg
  content/028_august_web_update/3.jpg
  content/028_august_web_update/4.jpg
  content/028_august_web_update/5.jpg
  content/028_august_web_update/6.gif
  content/028_august_web_update/7.jpg
  content/028_august_web_update/cover.png
  content/028_august_web_update/meta.json
  content/028_august_web_update/readme.mdx
Owners: none

Introduce Arianee post
  content/028_arianee_partnership/cover.png
  content/028_arianee_partnership/meta.json
  content/028_arianee_partnership/readme.mdx
Owners: none

Update Author
  blog/src/components/Author.tsx
  blog/src/lib/get_author_metadata.ts
Owners: none

Introduce Arianee post (#90)
  blog/src/components/Author.tsx
  blog/src/lib/get_author_metadata.ts
  content/028_arianee_partnership/cover.png
  content/028_arianee_partnership/meta.json
  content/028_arianee_partnership/readme.mdx
Owners: none

Update readme.mdx
  content/yt_town_hall_2022_q3/readme.mdx
Owners: none

Update readme.mdx
  content/yt_town_hall_2022_q4/readme.mdx
Owners: none

Remove deadlinks
  content/yt_town_hall_2022_q3/readme.mdx
  content/yt_town_hall_2022_q4/readme.mdx
Owners: none

Disable search indexing in deploy process
  .github/workflows/deploy.yml
Owners: @lucemans

Create .gitignore
  .gitignore
Owners: none

Disable search indexing in deploy process (#92)
  .github/workflows/deploy.yml
Owners: @lucemans

Clean up build process
  blog/buildAssets.ts
  blog/src/lib/get_posts.ts
Owners: @svemat01, @lucemans

Add content
  content/030_linea_namechain/cover.png
  content/030_linea_namechain/meta.json
  content/030_linea_namechain/readme.mdx
Owners: none

Update
  content/030_linea_namechain/meta.json
  content/030_linea_namechain/readme.mdx
Owners: none

Fix
  content/030_linea_namechain/readme.mdx
Owners: none

Update copy
  content/030_linea_namechain/readme.mdx
Owners: none

🥐 (#93)
  .gitignore
  blog/buildAssets.ts
  blog/src/lib/get_posts.ts
  content/030_linea_namechain/cover.png
  content/030_linea_namechain/meta.json
  content/030_linea_namechain/readme.mdx
Owners: @svemat01, @lucemans

Add Namechain workshop article
  content/031_namechain_workshop/1.jpg
  content/031_namechain_workshop/2.jpg
  content/031_namechain_workshop/cover.png
  content/031_namechain_workshop/meta.json
  content/031_namechain_workshop/readme.mdx
Owners: none

Fix formatting
  content/031_namechain_workshop/readme.mdx
Owners: none

Remove internal note
  content/031_namechain_workshop/readme.mdx
Owners: none

Add Namechain workshop article (#94)
  content/031_namechain_workshop/1.jpg
  content/031_namechain_workshop/2.jpg
  content/031_namechain_workshop/cover.png
  content/031_namechain_workshop/meta.json
  content/031_namechain_workshop/readme.mdx
Owners: none

Add Para article
  content/032_para/meta.json
  content/032_para/readme.mdx
Owners: none

Update post, add cover image
  content/032_para/cover.png
  content/032_para/readme.mdx
Owners: none

Add redirects for blog URLs
  blog/public/_redirects
Owners: none

Deprecate repo
  README.md
Owners: @lucemans

Deprecate repo (#97)
  README.md
Owners: @lucemans
