Repository ensdomains/blog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lucemans, @svemat01, @gskril, @Esk3nder

.github/CODEOWNERS:

# CI/CD & Pipelines
*.yaml @lucemans
*.yml @lucemans
/.github/* @lucemans
README.md @lucemans

## Frontend
/blog/* @svemat01 @lucemans

## Blog Content
/content/* @gskril @Esk3nder

Update copy from April web update
  content/018_web_update_2024_april/06.jpg
  content/018_web_update_2024_april/06.png
  content/018_web_update_2024_april/readme.mdx
Owners: none

Add ENSv2 article
  content/020_ensv2/cover.jpg
  content/020_ensv2/meta.json
  content/020_ensv2/readme.mdx
Owners: none

Update copy
  content/020_ensv2/readme.mdx
Owners: none

Update links
  content/020_ensv2/readme.mdx
Owners: none

Add link to Telegram group
  content/020_ensv2/readme.mdx
Owners: none

Fix sanity issues
  content/020_ensv2/readme.mdx
Owners: none

ENSv2! (#78)
  content/020_ensv2/cover.jpg
  content/020_ensv2/meta.json
  content/020_ensv2/readme.mdx
Owners: none

Update forum link in ENSv2 post
  content/020_ensv2/readme.mdx
Owners: none

Add technical feedback thread to ENSv2 post
  content/020_ensv2/readme.mdx
Owners: none

Add ENSv2 FAQ article
  content/021_ensv2_faq/cover.jpg
  content/021_ensv2_faq/meta.json
  content/021_ensv2_faq/readme.mdx
Owners: none

Fix FAQ numbering
  content/021_ensv2_faq/readme.mdx
Owners: none

Update cover image
  content/021_ensv2_faq/cover.jpg
Owners: none

Change folder number
  content/022_ensv2_faq/cover.jpg
  content/022_ensv2_faq/meta.json
  content/022_ensv2_faq/readme.mdx
Owners: none

Add Drips article
  content/021_drips/01.png
  content/021_drips/02.png
  content/021_drips/03.png
  content/021_drips/cover.png
  content/021_drips/meta.json
  content/021_drips/readme.mdx
Owners: none

Sanity fix
  content/021_drips/readme.mdx
Owners: none

Add Drips article (#80)
  content/021_drips/01.png
  content/021_drips/02.png
  content/021_drips/03.png
  content/021_drips/cover.png
  content/021_drips/meta.json
  content/021_drips/readme.mdx
Owners: none

Add quotes to Drips article
  content/021_drips/readme.mdx
Owners: none

Fix sanity check in Drips article
  content/021_drips/readme.mdx
Owners: none

Update date and copy
  content/022_ensv2_faq/meta.json
  content/022_ensv2_faq/readme.mdx
Owners: none

Fix search.json deployment
  .github/workflows/deploy.yml
Owners: @lucemans

Fix search.json deployment (#81)
  .github/workflows/deploy.yml
Owners: @lucemans

Add ENSv2 FAQ article (#79)
  content/022_ensv2_faq/cover.jpg
  content/022_ensv2_faq/meta.json
  content/022_ensv2_faq/readme.mdx
Owners: none

Update ENSv2 FAQ Post dates
  content/022_ensv2_faq/meta.json
Owners: none

Create placeholder article
  content/023/meta.json
Owners: none

Bump actions and workflows
  .github/actions/install/action.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/labeler.yml
Owners: @lucemans

Bump actions and workflows (#83)
  .github/actions/install/action.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/labeler.yml
Owners: @lucemans

Delete placeholder
  content/023/meta.json
Owners: none

Add content
  content/023_linea/01.png
  content/023_linea/cover.png
  content/023_linea/meta.json
  content/023_linea/readme.mdx
Owners: none

Add Linea article (#82)
  content/023_linea/01.png
  content/023_linea/cover.png
  content/023_linea/meta.json
  content/023_linea/readme.mdx
Owners: none

Introduce Web Update May 2024
  content/024_web_update_2024_may/accounts.png
  content/024_web_update_2024_may/avatar.png
  content/024_web_update_2024_may/avatars.png
  content/024_web_update_2024_may/basescan.png
  content/024_web_update_2024_may/congrats.png
  content/024_web_update_2024_may/context.png
  content/024_web_update_2024_may/cover.png
  content/024_web_update_2024_may/datetime.png
  content/024_web_update_2024_may/fuse.png
  content/024_web_update_2024_may/landing.png
  content/024_web_update_2024_may/legacy.png
  content/024_web_update_2024_may/longer.png
  content/024_web_update_2024_may/meta.json
  content/024_web_update_2024_may/namelist.png
  content/024_web_update_2024_may/offchainprofile.png
  content/024_web_update_2024_may/profile.png
  content/024_web_update_2024_may/readme.mdx
  content/024_web_update_2024_may/roadmap.png
Owners: none

Update Cover Image
  content/024_web_update_2024_may/cover.png
Owners: none

Update Cover Image
  content/024_web_update_2024_may/cover.png
Owners: none

Bump
  content/024_web_update_2024_may/readme.mdx
Owners: none

Introduce Web Update May 2024 (#84)
  content/024_web_update_2024_may/accounts.png
  content/024_web_update_2024_may/avatar.png
  content/024_web_update_2024_may/avatars.png
  content/024_web_update_2024_may/basescan.png
  content/024_web_update_2024_may/congrats.png
  content/024_web_update_2024_may/context.png
  content/024_web_update_2024_may/cover.png
  content/024_web_update_2024_may/datetime.png
  content/024_web_update_2024_may/fuse.png
  content/024_web_update_2024_may/landing.png
  content/024_web_update_2024_may/legacy.png
  content/024_web_update_2024_may/longer.png
  content/024_web_update_2024_may/meta.json
  content/024_web_update_2024_may/namelist.png
  content/024_web_update_2024_may/offchainprofile.png
  content/024_web_update_2024_may/profile.png
  content/024_web_update_2024_may/readme.mdx
  content/024_web_update_2024_may/roadmap.png
Owners: none

Update ENS Logo
  blog/public/icons/ens_logo_primary.svg
Owners: none

fet-1490: basic CSP
  blog/middleware.ts
  blog/next.config.mjs
Owners: @svemat01, @lucemans

Add ENSv2 Update
  content/025_ensv2_update/cover.png
  content/025_ensv2_update/meta.json
  content/025_ensv2_update/readme.mdx
Owners: none

Fix sanity
  content/025_ensv2_update/readme.mdx
Owners: none

Add ENSv2 Update (#86)
  content/025_ensv2_update/cover.png
  content/025_ensv2_update/meta.json
  content/025_ensv2_update/readme.mdx
Owners: none

Update author on ENSv2 update article
  content/025_ensv2_update/meta.json
Owners: none
